<!--about-->
<div class="container mt-4">
  <div class="row featurette d-flex justify-content-center align-items-center ">
        <div class="col-md-7">
          <h2 class="featurette-heading">CareForYou-<span class="text-muted">Best Medical Clinic,Thousands of specialities for any type diagnostic.
</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/image/img1.png">

        </div>
      </div>
  </div>
  <hr class="featurette-divider">
  <div class="container">
  <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Specialized medical checkup tailored to the patient-<span class="text-muted">All Medical Facilities,Lowest Fees in City,Experienced Doctors,5000+ Happy Patient</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/image/img2.png">
      </div>
    </div>
</div>
<hr class="featurette-divider">
<!--about end-->
<!--Specialities-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SPECIALITIES</h1>
    <div class="card-group">
  <div class="card view overlay zoom hoverable">
    <a href="#"><img src="assets/image/icon2.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Cardiology</h5>

    </div>
  </div>
  <div class="card1 view overlay zoom hoverable">
    <a href="#"><img src="assets/image/icon3.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Stomatology</h5>

    </div>
  </div>
  <div class="card view overlay zoom hoverable">
    <a href="#"><img src="assets/image/icon1.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Radiology</h5>

    </div>
  </div>
  <div class="card1 view overlay zoom hoverable">
    <a href="#"><img src="assets/image/icon4.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Neurology</h5>

    </div>
  </div>
  <div class="card view overlay zoom hoverable">
    <a href="#"><img src="assets/image/icon5.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Ophthalmology</h5>

    </div>
  </div>
</div>
  </div>
</div>
<!--Specialities Ends-->
<!--Services-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SERVICES</h1>
    <div class="card-deck">
  <!-- Card -->
  <mdb-card>
    <div class="view overlay waves-light hoverable" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/image/img4.png" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Blood Tests</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>


    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light hoverable" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/image/img3.png" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Teeth Whitening</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light hoverable" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/image/img5.png" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>STD Examination</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

    </mdb-card-body>
  </mdb-card>
</div>

  </div>
</div>
<!--services end-->
<!--Patient Review-->
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-4">PATIENT REVIEWS</h1>
  <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <div class="card-deck">
  <!-- Card -->
  <mdb-card>
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <img src="assets/image/img6.png">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Ella Lopez</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> "Great Doctor and goog front desk services."
      </mdb-card-text>


    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <img src="assets/image/img7.png">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Mask Stevens</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> "Doctors work hard to ensure quality."
      </mdb-card-text>


    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <img src="assets/image/img8.png">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Madision Smith</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> "Quality services satisfied my needs."
      </mdb-card-text>


    </mdb-card-body>
  </mdb-card>
</div>

    </div>

  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <div class="card-deck">
    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <img src="assets/image/img9.png">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Andrew Jakson</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> "Best Doctor And Patient communication I had."
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <img src="assets/image/img10.png">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Elizabeth Olsen</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>"Administration is providing excellent service, and the maintenance of the hospital is great."
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <img src="assets/image/img11.png">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Mark Ruffalo</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> "Very Professional and confident doctor"
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>
  </div>
    </div>

  </mdb-carousel-item>
  <!--/Second slide-->

</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
</div>
